/* GALLERY PAGE STYLING START */

body {
    margin:0px ;
    padding: 0px;
  }
  
  /* Center website */
  .main {
    max-width: 1000px;
    margin: auto;
  }
  
  h1 {
    font-size: 50px;
    word-break: break-all;
  }
  
  .row {
    margin: 8px -16px;
  }
  
  /* Add padding BETWEEN each column */
  .row,
  .row > .column {
    padding: 8px;
    padding-bottom: 50px;
   
  }
  .column {
    float: left;
    width: 25%;
    display: none; /* Hide columns by default */
  }
   .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* GALLERY CONTENT */

  .content {
    background-color: white;
    padding: 10px;
  }
  .show {
    display: block;
  }
  .btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: white;
    cursor: pointer;
  }
  .btn:hover {
    background-color: #ddd;
  }
  .active {
    background-color: grey;
     color: white;
  }
  .name {
      font-size: large;
      font-family: cursive;
      color: white;
      text-align: center;
      background-color:rgb(134, 31, 31);
  }
  .main-head {
      font-size: 43px;
      font-family: 'Times New Roman', Times, serif;
      color:rgb(134, 31, 31);
      padding: 30px;
  }
  /* GALLERY STYLING END */

  /* CAKES, BAKERY,REFRESHING ITEMS PAGE STYLING START */

  .overlay2 {
      font-size: 80px;
      padding-left: 80px;
      font-family: 'Times New Roman', Times, serif;
  }
  .but {
    background-color: rgb(90, 4, 4);
    border: solid 1px white;
    height: 40px;
    width: 300px;
    margin-left: 70px;
    margin-bottom: 60px;
    font-size: 18px;
    padding: 2px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
 .cc-head {
     font-family: 'Times New Roman', Times, serif;
     font-size: 40px;
     text-align: center;
     margin: 70px;
 }
 .cakes-col{
     padding-bottom: 20px;
     padding-top: 20px;
 }
 .cakes-col:hover{
   opacity: 0.6;
 }
 
 .cakes-div {
   padding-bottom: 100px;
   border-bottom: 15px double maroon;

 }
 .parallax1 {
  /* The image used */
  background-image: url("images/cake1.jpg");
  height: 750px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax2 {
  /* The image used */
  background-image: url("images/bakery1.jpg");
  height: 750px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax3 {
  /* The image used */
  background-image: url("images/bakery.jpg");
  height: 750px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
