/* NAVBAR */

.navbar-nav {
  color:rgb(134, 31, 31);
  font-size: medium;
}
.active {
  background-color:grey;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
}
/* VIDEO */

  #overlay {
    position: absolute; 
     top: 190px; 
     color:rgb(134, 31, 31); 
     text-align: center;
     font-size: 170px;
     font-family: 'Times New Roman', Times, serif;
  }
  .over {
     position: absolute; 
     color:rgb(134, 31, 31); 
     text-align: center;
     font-size: 170px;
     padding-left: 100px;
     font-family: 'Times New Roman', Times, serif;
     background: linear-gradient(
     to right, 
    rgb(255, 255, 255)0%,
    rgba(255, 255, 255, 0.568)25%,
    rgba(255, 255, 255, 0.568) 55%,
    rgba(240, 230, 230, 0) 100%);
  }
  .o-para {
    font-size: 50px;
    color: black;
    padding-left: 100px;
    font-family: 'Times New Roman', Times, serif;
  }

  /* PARALLAX */

  .custom-shape-divider-bottom-1618039855{
    transform: rotate(180deg);
    background: transparent;
   
  }
  .custom-shape-divider-bottom-1618039855 svg {
    background: transparent;
  }
  .custom-shape-divider-bottom-1618039855 .shape-fill {
    fill: #FFFFFF;
  }

  /* PARALLAX, INDEX PAGE*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,300,600,700);
* {
box-sizing: border-box;
text-align: center;
}

html, body {
width: 100%;
height: 100%;
margin: 0;
padding: 0;
}

figure {
margin: 0;
position: relative;
}
figure h1 {
position: absolute;
top: 20px;
left: 20px;
border-right: 3px solid #fff;
padding: 5px 10px 5px 5px;
}

video {
width: 100%;
max-width: 100%;
}

.stretch {
height: 2000px;
min-height: 100%;
min-width: 100%;
background-size: cover;
margin-top: 800px;
}
.stretch h1 {
padding: 20px;
}

.hero-wrapper {
position: fixed;
bottom: 0;
right: 0;
height: auto;
width: auto;
min-height: 100%;
min-width: 100%;
z-index: -9999;
}
  
/* CARDS */

.main-card {
  background-color:white ;
  padding-top: 120px;
  padding-bottom: 100px;
  width: 100%;
}

.card {
  width: 100%;
  margin-left: 34%;
  margin-right: 30%;
  border:solid 1px brown;
  background-color: white;
  margin-bottom: 60px;

}
.card-img-top{
  height: 33rem;
  padding: 20px;
  text-align: center;
}
.overlay1 {
  position: absolute; 
  top: 350px; 
  width:55%;
  margin-left: 20%;
  padding: 10px;
  text-align: center;
  font-size: 30px;
  color: white !important;
  background-color: rgba(165, 42, 42, 0.603);
  font-family: 'Times New Roman', Times, serif;
}
.over1 {
  position: absolute; 
  top: 1900px; 
  padding-left: 350px;
}
.but-1 {
  background-color: rgb(90, 4, 4);
  border: solid 1px black;
  height: 40px;
  width:110px;
  font-size: 18px;
  padding: 2px;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

   /* BOTTOM CARDS */

.bottom-card {
  margin: 8%;
}
.bottom-heading {
    font-family: 'Times New Roman', Times, serif; 
    padding-top: 10px;
    text-align: center;
    color:white;
  }
.bottom-heading1 {
    font-family: 'Times New Roman', Times, serif; 
    padding-top: 10px;
    padding-left: 50px;
    color:white;
  }
.b-image {
  padding-left: 30px;
}
.b-image1 {
  height: 90px;
  width: 150px;
  margin-top: 50px;
}
.b-image2 {
  padding-top: 30px;
  width:100%;
}
.bottom-column {
  border-right: solid 1px black;
  width: 33%;
}
.bottom-column1{
  width: 33%;
  border-left: solid 1px black;
}
.bottom-middle{
  width: 33%;
}
.b-card-para {
  padding-top:30px ;
  text-align: center;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:white;
}
.b-card-para1 {
  padding-top:30px ;
  padding-left: 20px;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:white;
}
.button1 {
  background-color: rgb(90, 4, 4);
  border: solid 1px white;
  margin-top: 20px;
  padding: 2px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.b-para {
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  height: 16px;
  width: 110px;
  padding:4px;
}

  /* FOOTER */

.footer {
  color: white; 
  background-color: rgb(90, 4, 4);
  height: 450px;
  padding: 9%;
  padding-top:5.5%;
  font-size: small;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.f-border {
  border-right: solid 2px white;
  height: 150px;
}
.p-div {
  padding: 10px;
}
.f-col {
  padding-left: 3%;
  padding-right: 3%;
}
.f-cols {
  font-family: 'Times New Roman',Times, serif;
  color: white;
}
.f-col1 {
  padding-bottom: 50px;
  padding-right: 3%;
  padding-left: 3%;
}
.f-para1 {
  font-size: small;
  width: 250px;
  text-align: justify;
}
::placeholder {
  color: black;
}
.icons {
  padding: 5px;
  font-size:34px;
}
.f-end {
  background-color: black;
  font-size: x-small;
  color: white;
  text-align: center;
  padding-top: 15px;
}

