.shop-item-title {
    font-size: 14px;
    font-family: cursive;
    color: white;
    text-align: center;
    background-color:rgb(134, 31, 31);
}
.shop-item-image {
   height: 250px;
   width:100%;
}
.img-custom {
    height: fit-content;
}
.shop-head {
    font-size: 30px;
    color:white;
    margin-top: 100px;
    border: 2px solid black;
    font-family: 'Times New Roman', Times, serif;
    background-color:rgb(134, 31, 31) ;
    font-weight: bold;
}
.shop-head2 {
    font-size: 30px;
    color:white;
    margin-top: 100px;
    border: 2px solid black;
    margin: 30px;
    font-family: 'Times New Roman', Times, serif;
    background-color:rgb(134, 31, 31) ;
    font-weight: bold;
}
.shop-item {
    margin: 30px;
    
}
.section-header {
  font-size: 60px;
  font-family: 'Times New Roman', Times, serif;
  color: rgb(134, 31, 31);
  margin: 50px;

}
.shop-item-button {
    font-size: 13px;
    font-weight: bold;
}


/* CART STYLING */

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
    padding-left: 200px;
    font-family: 'Times New Roman', Times, serif;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    padding-left: 110px;
    font-family: 'Times New Roman', Times, serif;
}

.cart-quantity {
    width: 35%;
    padding-left: 200px;
    font-family: 'Times New Roman', Times, serif;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}
.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}
.cart-total {
    border-top: 1px solid black;
}
.cart-total-title {
    padding-left: 80px;
    font-family: 'Times New Roman', Times, serif;
}
.cart-total-price {
    padding-left: 80px;
    font-size: medium;
    font-weight: bold;
}
.parcel-option {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}
::placeholder {
    color: white;
    background-color:rgba(128, 0, 0, 0.671);
}
label {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
.cake {
    margin-left: 39%;
}
.f-col-but {
     padding-left: 150%;
     padding-bottom: 25%;


}
.bi-arrow-down-square-fill {
    background-color: white;
    color: maroon;
    border:0px;
    margin-bottom: 30px;
    position: fixed; 

}
/* TABLE */

 .t-1 {
     margin-top: 50px;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    height: 420px;
    width: 100%;
    border: 1px solid #dddddd;

  }
/*   
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
   */
.r:nth-child(even) {
    background-color: #dddddd;

  }
.col {
    /* border: 1px solid #dddddd; */
    text-align: left;
    padding: 8px;
    width: 1000px;
    
} 
.btn-purchase {
    margin-bottom:80px ;
}
.img-col{
    width: 40%;
}