/* CONTACT PAGE STYLING     */

.parallax {
    background-image: url(images/IMG-7839-600x800.jpg);
    min-height:700px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 50px;
    width: 100%;
}
.float{
    background: rgb(255, 255, 255, 0.8);
    height: 750px;
    width:85%;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}
.line{
    border-top: 2px solid black;
}
.plan{
    height: 100px;
    width:50%;
    position:left;
}
input{
    margin:5px;
    height:40px;
    width:60%;
    margin-top: 30px;
    text-align: center;
}
.date{
    width:125px;
    height: 30px;
}
.clear{
    background: rgba(0, 0, 0, 0.1);
}
.submit{
    width:150px;
    height: 40px;
    color: white;
    background-color:rgb(90, 4, 4);
    border: 2px solid white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 50px;
    
}
td{
    width:33%;
}
h4 {
  color: rgb(90, 4, 4);
  margin-top: 40px;
  text-shadow: 2px 2px white;

}
h1 {
  color: rgb(90, 4, 4);
  text-shadow: 2px 2px white;
}
.active {
  background-color: grey;
   color: white;
}
  .active {
    background-color:grey;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
  }
  